<!DOCTYPE html>
<html>
<head>
      <title>管理员登录界面</title>
      <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
      <script type="text/javascript" src="../js/jquery-3.3.1.js"></script>
      <script type="text/javascript" src="../js/holder.js"></script>
      <script type="text/javascript" src="../js/bootstrap.min.js"></script>
      <meta charset="utf-8">
      <!-- <meta name="viewport" content="width=device-width,inital-scal=1,maximum-scal=1,user-scalable=no"> -->
      <meta name="viewport" content="width=device-width,inital-scal=1,maximum-scal=1,user-scalable=no">
      
         
      </script>
      <style type="text/css">
        .mess{
          margin-top:150px;
        }
        .message{
          margin: 15px;
        }
        .message span{
          font-size: 20px;
          color:white;

        }
        body{
          font-family: "微软雅黑"；
        }
        table tr{

        }
        table tr td{
          text-align: center;
          
        }
      </style>
</head>
<body>
     <div class="container">

                 
                 <div class="text-center">
                   <ul class="pagination">
                     <li><a href="">首页</a></li>
                     <li><a href=""><span>&laquo;</span></a></li>
                     <li><a href="">1</a></li>
                     <li><a href="">2</a></li>
                     <li><a href="">3</a></li>
                     <li><a href=""><span>&raquo;</span></a></li>
                     <li><a href="">尾页</a></li>
                   </ul>
                 </div>
                    
        </div>
     
</body>
</html>