<!DOCTYPE html>
<html>
<head>
      <title>管理员登录界面</title>
      <link rel="stylesheet" type="text/css" href="../css/bootstrap.css">
      <script type="text/javascript" src="../js/jquery-3.3.1.js"></script>
      <script type="text/javascript" src="../js/holder.js"></script>
      <script type="text/javascript" src="../js/bootstrap.min.js"></script>
      <meta charset="utf-8">
      <!-- <meta name="viewport" content="width=device-width,inital-scal=1,maximum-scal=1,user-scalable=no"> -->
      <meta name="viewport" content="width=device-width,inital-scal=1,maximum-scal=1,user-scalable=no">
      <script type="text/javascript">
      
         
      </script>
      <style type="text/css">
        label{
          color: green;
        }
        
      </style>
</head>
<body>
     <div class="container">
        <div class="panel panel-primary">
             <div class="panel-heading">
                 <div class="panel-title text-center">
                   <h3>金风细雨楼系统1.0</h3>
                   <h6 class="text-right">@author jtr</h6>
                 </div>
             </div>
             <div class="panel-body">
                   <h4 class="text-success"><b>手机修改</b></h4>
                   <br>
                   <div class="row">
                       <div class="col-md-4 col-md-offset-4">
                          <form class="thumbnail has-success">
                              <div class="form-group">
                                 <label>手机名称</label>
                                 <input type="text" name="" class="form-control">
                              </div>
                              <div class="form-group">
                                 <label>品牌</label>
                                 <select name="se" class="form-control">
                                    <option>华为</option>
                                    <option>华为</option>
                                 </select>
                              </div>
                              <div class="form-group">
                                 <label>手机颜色</label>
                                 <input type="text" name="" class="form-control">
                              </div>
                              <div class="form-group">
                                 <label>手机内存</label>
                                 <input type="text" name="" class="form-control">
                              </div>
                              <div class="form-group">
                                 <label>手机价格</label>
                                 <input type="text" name="" class="form-control">
                              </div>
                              <div class="form-group">
                                 <label>手机库存</label>
                                 <input type="text" name="" class="form-control">
                              </div>
                              
                              <div class="form-group text-right">
                                <button class="btn btn-default" type="reset">清空</button>
                                 <button class="btn btn-primary" type="submit">确认</button>
                                 
                              </div>
                          </form>
                       </div>
                   </div>
                  
                  </div>
             </div>
        </div>
     
</body>
</html>